*.swp

userdata/cache/
userdata/config/com/
userdata/config/jmx/
userdata/config/org/apache/
userdata/config/org/eclipse/
userdata/config/org/jupnp.config
userdata/config/org/ops4j/
userdata/config/
userdata/config/org_apache_felix_cm_impl_DynamicBindings.config
userdata/config/profile.config
userdata/etc/
userdata/jsondb/
userdata/logs/
userdata/tmp/
